{% extends "base_form.html" %}

{% block content %}
    {% if code %}
        {% if success %}
            <p>Berhasil mereset password, <a href="/kelas/login">silahkan login</a></p>
        {% else %}
            <p>Gagal mereset password, silahkan kontak admin</p>
        {% endif %}
    {% else %}
        <p>Kode konfirmasi tidak valid</p>
    {% endif %}    
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript">
    $('.paper').css('margin-top', '-46px')
    </script>
{% endblock custom_js %}