{% extends "base_form.html" %}

{% block content %}
    <form action="{% url 'password-reset' %}" method="POST"> {% csrf_token %}
        <div class="input-field">
            <input name="nim" id="nim" type="text" class="validate" autocomplete="off" required>
            <label for="nim">NIM</label>
        </div>
        <div class="input-field">
            <input name="email" id="email" type="email" class="validate" autocomplete="off" required>
            <label for="email">Email</label>
        </div>

        {% if error %}
        <div class="card-panel red darken-1">
            <span class="white-text">Email dan nim tidak cocok</span>
        </div>
        {% endif %}

        {% if success %}
            <div class="card-panel teal darken-1">
                <span class="white-text">Cek email untuk konfirmasi</span>
            </div>
        {% endif %}

        <div style="margin-top: 40px">
            <a href="/kelas/login">Login</a>
            <button class="waves-effect waves-light btn" style="float: right">Reset Password</button>
            <div style="clear: both"></div>
        </div>
    </form>
{% endblock content %}